div:focus {
  outline: none;
  box-shadow: none;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 50px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}