name: CD

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          # Value already defaults to true, but `persist-credentials` is required to push new commits to the repository.
          persist-credentials: true

      # Setup node and required build tools
      - name: SetupNode
        uses: actions/setup-node@v4
        with:
          node-version: '25.x'
          registry-url: 'https://registry.npmjs.org'

      - name: SetupBuildTools
        run: |
          npm i minify@15.0.1 -g
          sudo apt-get update
          sudo apt-get -y install moreutils

      # Build
      - name: BuildDist
        run: |
          chmod +x ./build_dist.sh
          ./build_dist.sh

      # create the docs from markdown
      - name: MakeDocs
        uses: jaywcjlove/markdown-to-html-cli@v5.0.3
        with:
          source: doc/manual.md
          output: dist/manual/index.html

      - name: CommitDist
        uses: stefanzweifel/git-auto-commit-action@v7
      
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: CopyToPublicSite
        uses: andstor/copycat-action@v3.2.4
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          src_path: dist/.
          dst_path: /.
          dst_owner: guitar-wiring-visualizer
          dst_repo_name: guitar-wiring-visualizer.github.io
          dst_branch: gh-pages

  cleanup:
    runs-on: ubuntu-latest
    needs: deploy
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          # checkout master explicitly to ensure latest commit is fetched
          ref: master
          persist-credentials: true

      - name: Clean
        run: rm -r $GITHUB_WORKSPACE/dist

      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v7
