name: publish

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: npm i markdown-to-html-cli -g
      - run: markdown-to-html --source doc/manual.md --output src/manual/index.html
      - name: Copy
        uses: andstor/copycat-action@v3.2.4
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          src_path: src/.
          dst_path: /.
          dst_owner: guitar-wiring-visualizer
          dst_repo_name: guitar-wiring-visualizer.github.io
          dst_branch: gh-pages
          
