name: publish

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          # Value already defaults to true, but `persist-credentials` is required to push new commits to the repository.
          persist-credentials: true
      
      # make the dist folder and copy files
      - run: mkdir -p dist/manual && cp -r src/* dist/

      # create the docs from markdown
      - name: MakeDocs
        uses: jaywcjlove/markdown-to-html-cli@v5.0.3
        with:
          source: doc/manual.md
          output: dist/manual/index.html

      - name: Minify
        uses: docker://devatherock/minify-js:3.1.0
        with:
          directory: 'dist'
          add_suffix: false
          exclusions: |-
            vendor/

      # Commit all changed files back to the repository
      - uses: stefanzweifel/git-auto-commit-action@v7
      
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: CopyToPublicSite
        uses: andstor/copycat-action@v3.2.4
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          src_path: dist/.
          dst_path: /.
          dst_owner: guitar-wiring-visualizer
          dst_repo_name: guitar-wiring-visualizer.github.io
          dst_branch: gh-pages

  cleanup:
    runs-on: ubuntu-latest
    needs: deploy
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          persist-credentials: true

      # remove dist folder
      - run: rm -r $GITHUB_WORKSPACE/dist
      # Commit
      - uses: stefanzweifel/git-auto-commit-action@v7

      
     
  
          
